
* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: auto;
  background: #f7f9fb;
}

main {
  width: 95%;
  margin: auto;
  max-width: 450px;
  background-color: white;
  padding: 10px;
}

header {
  background-color: #2f3944;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}


header h1 {
  margin: 0;
  font-size: 1em;
}

.signup {
  padding: 0 15px;
  text-align: center;
  margin: 30px 0;
}

.signup h2 {
  margin-bottom: 10px;
  font-size: 1.15em;
  color: #2f3944;
}

.signup p {
  margin-top: 0;
  color: #cbced0;
  font-size: .75em;
}


.top-divide {
  margin: 0;
  border-top: solid 4px #2f3944;
}

.bottom-divide {
  margin-top: 3px;
  border-top: solid 2px #2f3944;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact {
  border: none;
  padding: 0;
  margin: 0;
}

.contact div {
  display: flex;
  flex-wrap: wrap;
}

.contact input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 17px;
  background-color: #eff0f1;
  border: none;
  flex-grow: 2;
  flex-basis: 100%;
  border-radius: 5px;
}

.contact label {
  margin: 15px 10px 5px 0;
  color: #87909b;
  font-size: .9em;
}

#state {
  margin: 5px 10px 5px 0;
  flex-grow: 2;
  flex-basis: 100%;
  padding: 17px;
  background-color: #eff0f1;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
}

#state::-ms-expand {
  display: none;
}


.newsletter {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  margin: 10px 0;
}

::placeholder {
  text-align: right;
  font-family: "Merriweather", serif;
  font-style: italic;
  color: #b7bbbe;
  font-size: 1.2em;
}

#phone::placeholder, #address::placeholder, #city::placeholder, #zip::placeholder {
  text-align: left;
}

.zip label {
  flex-basis: 100%;
}

.zip input {
  flex: 0 0 auto;
  width: 170px;
}

.form-divide {
  margin: 20px 5px;
  border-top: solid 2px #2f3944;
}

.newsletter p {
  font-size: .9em;
  color: #87909b;
}

.newsletter label {
  font-size: .8em;
  color: #87909b;
}


.newsletter div {
  margin: 10px 0;
}

.newsletter input {
  margin: 10px 5px;
}

textarea {
  width: 100%;
  background-color: #eff0f1;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
  }

  button {
    width: 100%;
    margin-bottom: 5px;
    padding: 15px;
    background-color: #6bb8b4;
    color: white;
    font-size: 1em;
    font-family: "Merriweather", serif;
    border-radius: 5px;
<<<<<<< HEAD
    border: none;
=======
>>>>>>> 56cd4b6e52f72ffb57d7fa15c9d2a85f324cc6a3
  }

  footer {
    text-align: center;
    font-size: .75em;
    color: #87909b;
    font-style: italic;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

 input:focus {
    border: solid 5px ##6bb8b4;
    background-color: white;
  }

/*==================
Desktop Styles
==================*/

@media (min-width: 768px) {

  main {
    max-width: 500px;
  }

  .contact input {
    flex-basis: auto;
  }

  .contact label {
    flex-basis: 30%;
  }

  #state {
    flex-basis: auto;
  }



}
